/* группа таска */
.Main__item {
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-radius: 30px;
  background: #eaecf0;
  box-shadow: 4px -3px 4px #c4c9dc, -4px 3px 4px #ffffff;
}
/* один таск */
.Main__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.purshase__buttons {
  display: flex;
}
.main__container {
  display: flex;
}
/* текст в таске */
.Main__task {
  margin-left: 10px;
}
.Main--taskchecked {
  text-decoration: line-through;
}
/* чекпоинт в таске */
.Main__point {
  width: 25px;
  height: 25px;

  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px -1px 1px #c4c9dc, -1px 1px 1px #ffffff;
}
.Main--pointchecked {
  /* background-color: #ace1af; */

  box-shadow: inset -1px 1px 1px #c4c9dc, inset 1px -1px 1px #ffffff;
}
.Main__point:active {
  border: none;
  /* border:0.5px solid white; */
  box-shadow: inset 1px -1px 1px #c4c9dc, inset -1px 1px 1px #ffffff;
}
/* избранное */
.Main__fav {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

/* контейнер кнопок */
.button__container {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-left: 5px;
}
