body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  background-color: #eaecf0;
  height: 100vh;
  margin: auto;
  position: relative;
}
/* главная страница */
.main {
  width: 100%;
  font-family: "Montserrat";
  color: #455b74;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 0;
}
.star {
  box-shadow: inset -2px 2px 2px #c4c9dc, inset 2px -2px 2px #ffffff;
}
